* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



button {
  all: unset;
  cursor: pointer;
  &:active {
    outline: none;
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

.btn {
  width: 95%;
  background: black;
  // background: #fd779d;
  // background: #ff628e;
  color: white;
  // color: rgb(69, 39, 39);
  padding: 6px;
  border-radius: 6px;
  box-shadow: inset -1px -1px 1px rgba(191, 191, 192, 0.607), 2px 2px 1px black;
  // box-shadow: inset -1px -1px 1px rgba(191, 191, 192, 0.607), 2px 2px 1px #ea1349;
  text-align: center;
  &:active {
    border: 1px solid white;
    box-shadow: 0 0 0 1px black;
    // box-shadow: 0 0 0 1px #ea1349;
    transform: translateY(2px);
  }
}

// .home-grid {
//   display: grid;
//   grid-template-columns: 10% 15% 15% 15% auto 10%;
//   grid-template-areas:
//     "navv navv navv navv navv navv"
//     ". usercard board profession rank ."
//     ". attendt attendb newuser rank .";
//   row-gap: 24px;
//   column-gap: 36px;
//   padding: 16px;
//   .navv {
//     grid-area: navv;
//   }
//   .board{
//     grid-area: board;
//   }
//   .profession{
//     grid-area: profession;
//   }
//   .usercard {
//     grid-area: usercard;
//   }
//   .newuser {
//     grid-area: newuser;
//   }
//   .attendt {
//     grid-area: attendt;
//   }
//   .attendb {
//     grid-area: attendb;
//   }
//   .rank {
//     grid-area: rank;
//   }
// }

.home-grid {
  display: grid;
  grid-template-columns: 10% auto auto auto 10%;
  grid-template-areas:
    "navv navv navv navv navv"
    ". usercard board board ."
    ". newuser profession attendb .";
  row-gap: 24px;
  column-gap: 36px;
  padding: 16px;
  .navv {
    grid-area: navv;
  }
  .board{
    grid-area: board;
  }
  .profession{
    grid-area: profession;
  }
  .usercard {
    grid-area: usercard;
  }
  .newuser {
    grid-area: newuser;
  }
  .attendt {
    grid-area: attendt;
  }
  .attendb {
    grid-area: attendb;
  }
  .rank {
    grid-area: rank;
  }
  
}

.card {
  width: 100%;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.878);
  border-radius: 20px;
  padding: 12px 24px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.loading{
  width: 100%;
  height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.ill {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  border: 1px dashed black;
  padding: 16px 32px;
  margin-bottom: 16px;

  i {
      color: rgb(34, 45, 150);
      font-size: 12px;
  }
}


@media screen and (max-width: 1200px) {
  .home-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .usercard{
      position: relative;
      z-index: 1;
    }
    .navv{
      width: 100%;
    }
  }
}



@media screen and (max-width: 768px) {
  .home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navv"
      "usercard"
      "board"
      "profession"
      "newuser"
      "attendt" 
      "attendb"
      "rank"
      ;
      padding: 0;

      .navv {
        padding-top: 12px;
      }

      .board{
       padding: 8px;
      }
      .usercard {
        padding: 8px;
      }
      .newuser {
        padding: 8px;
      }
      .attendt {
        padding: 8px;
      }
      .attendb {
        padding: 8px;
      }
      .rank {
        padding: 8px;
      }
  }
  .ill {
    margin-inline: 16px;
}
}
